.slugger-field{
    display: inline-flex;
    align-items: center;
    gap: 2px;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 5px;
    max-width: 500px;
    min-width: 200px;
    margin: 10px 0;
    .slug-prefix-url, .slug-suffix-url{
        display: none;
    }
    input{
        padding: 5px;
        border: 1px solid #ececed;
        outline: none;
        field-sizing: content;
        min-width: 80px;
    }
    .slug-preview-url{
        text-decoration: none;
        color: #007bff;
        font-size: 14px;
        font-weight: 500;
        transition: all 0.2s ease-in-out;
        white-space: nowrap;
        margin-left: 5px;
        &:hover{
            text-decoration: underline;
        }
    }
}